nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding-block: 20px /*olha pro eixo y sendo em cima e baixo */
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;

  padding-block: 8px; /*4 cima 4 baixo*/
}

nav ul li:last-child img {
  /* Pegar a imagem do último filho dentro do LI */
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}